abbr {
  text-decoration: none;
  font-weight: 400;
}

.calendar {
  font-family: 'Inter', sans-serif;
  min-inline-size: var(--min-inline-size);
  min-block-size: var(--min-block-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block-end: 2.5rem;
  border: none;
}

.react-calendar__navigation {
  block-size: 6rem;
}

.calendar-navigation {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  font: var(--desktop-body2-regular);
}

.react-calendar__tile {
  font: var(--desktop-body2-regular);
  padding: 10px;
  border-radius: 0.5rem;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover {
  background-color: #dbe9ff !important;
  color: var(--primary) !important;
}

.react-calendar__tile--active:hover {
  text-decoration: underline;
}

.react-calendar__month-view__days {
  gap: 0rem;
}

.calendar-year {
  font: var(--desktop-h3);
}

.calendar-month {
  font: var(--desktop-body2-bold);
}
